<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /ecommerce/backend/ci3/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]

    RewriteRule ^(system|application) - [F,L]
</IfModule>
